@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
};



@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
};

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
};

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48{
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
};

@media (max-width: 577px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48{
            font-size: 26px;
        }
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .promo {
        background: url('../img/1.jpeg') no-repeat 60%/cover;
        &__btns {
            margin-top: 32px;
        }
        
    }
};