@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            gap: 70px;
        }
        &__skills {
            column-gap: 20px;
            &-item {
                grid-template-columns: 38px 195px;
                gap: 15px;
            }
        }
    }
};



@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            gap: 40px;
        }
        &__skills {
            column-gap: 20px;
            &-item {
                grid-template-columns: 38px 195px;
                gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 60px 30px 0 30px;
            column-gap: 50px;
        }
    }
    .myskills {
        &__wrapper {
            grid-template-columns: repeat(3,270px);
            justify-content: center;
        }
    }
};

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 320px 360px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            &-item{
                grid-template-columns: 40px 320px;
                gap: 20px;
            }
        }
    }
    .resume{
        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 40px;
            
        }
    }
    .myskills {
        &__wrapper {
            grid-template-columns: repeat(2,270px);
        }
        &__rating {
            padding-top: 100px;
            grid-template-columns: repeat(2, 1fr);
            // column-gap: 60px;
            justify-items: center;
            &-item {
                width: 300px;
            }
            &-line {
                width: 100%;
            }
        }
    }
};

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48{
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .about{
        padding-top: 40px;
        &__wrapper {
            grid-template: 350px auto auto / 1fr;
        }
        &__photo{
            grid-row: unset;
        }
        &__skills{
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    };
     .myskills{
        &__wrapper {
            grid-template-columns: repeat(2,263px);
        }
        &__rating {
            grid-template-columns: repeat(1, 1fr);
            &-item {
                width: 350px;
            }
        }
    }

};

@media (max-width: 577px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48{
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
        }
        &__section-subtitle {
            line-height: 36px;
        }
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .promo {
        background: url('../img/1.jpeg') no-repeat 60%/cover;
        &__btns {
            margin-top: 32px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .resume {
        padding-top: 46px;
        &__wrapper {
            padding: 40px 15px 0 15px;
        }
    }
    .divider {
        margin: 0px auto 0 auto;
    }
    .myskills {
        padding-top: 46px;
        &__wrapper {
            padding-top: 20px;
            grid-template-columns: repeat(1,270px);
        }
        &__rating {
            padding-top: 48px;
            &-item {
                width: auto;
            }
        }
    }
};