.policy_title {
    text-align: center;
}

.policy_main {
    text-align: center;
    padding: 10px 30px;
}

.policy_subtitle {
    padding: 0 40px;
}

.text {
    padding-left: 80px;
    line-height: 30px;
}