.price {
       padding-top: 60px;
    &__wrapper {
        margin-top: 60px;
        padding: 0 60px;
        display: grid;
        grid-template: repeat(3, minmax(45px, auto)) / repeat(2, 365px);
        grid-auto-rows: minmax(45px, auto);
        row-gap: 15px;
        justify-content: space-between;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-between;
        align-content: space-between;
        height: 45px;
        &-text{
            font-size: 12px;
            line-height: 18px;
            grid-column: 1/3;
        }
    }
}