.promo {
   min-height: 100vh; 
   position: relative;
   background: url('../img/1.jpeg') no-repeat 50%/cover;
   padding-top: 205px;
   &__title {
      width: 535px;
      margin-top: 10px; 
   }
   &__subtitle{
       position: relative;
       @include before_circle;
       padding-left: 10px;
       z-index: 2;
   }
   &__btns {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 255px;
    }
   &__link{
       color: black;
       font-weight: bold;
       &:hover{
           color: black;
           text-decoration: none;
       }
   }
}